{# this is maintained for the individual analysis running, otherwise deprecated #}

{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

<!-- for django_select2 css -->
{% if selector %} {% block extra_head %} {{ selector.media.css }} {% endblock %} {% endif %}


{% block title %} Analysis Present {% endblock %}

{% block content %}


    {# datatables does sortable tables #}
    {% if display_table %}
        <div id="display_table">
        {% for table in display_table %}
        <table class="table">
            {% for row in table %}
            <tr>
                {% for col in row %}
                    {% if forloop.parentloop.first %}
                        <th scope="col"> {{ col }}</th> {#<!-- first row in column is treated as header row -->#}
                    {% else %}
                        <td> {{ col }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
        </div>
    {% endif %}


    {% if display_list %}
        <div id="display_list"><ul>
        {% for item in display_list %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul></div>
    {% endif %}

    {% if display_raw %}
        <div id="display_raw">
        {% autoescape off %}
            {{ display_raw }}
        {% endautoescape %}
        </div>
    {% endif %}

{% endblock %}