{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

<!-- for django_select2 css -->
{% if selector %} {% block extra_head %} {{ selector.media.css }} {% endblock %} {% endif %}


{% block title %} Analysis Present {% endblock %}

{% block content %}

    {% if display_table %}
        {% for table in display_table %}
        <table>
            {% for row in table %}
            <tr>
                {% for col in row %}
                    {% if forloop.parentloop.first %}
                        <th> {{ col }}</th> <!-- first row in column is treated as header row -->
                    {% else %}
                        <td> {{ col }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    {% endif %}


    {% if display_list %}
        {% for item in display_list %}
            {{ item }} <br>
        {% endfor %}
    {% endif %}

{% endblock %}