<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <title>{% block title %}db_output default title{% endblock %}</title>
</head>

<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="sidebar">

        {% block sidebar %}
        <hr>
        <p>
        {% if user.is_authenticated %}
            You are logged in as: {{ user.username }}!
        {% else %}
            You are not logged in -
            <a href="{% url 'login' %}">login</a>
        {% endif %}
        </p>
        <b>Would you like to:</b>
        <ul>
            <li><a href="/admin">Access the admin portal</a></li> <!-- django backend is hardcoded -->
            <li><a href="{% url 'index' %}">Go to the index of db_output</a></li>
            <li><a href="{% url 'parse_select' %}">Parse an uploaded csv (requires login)</a></li>
            <li><a href="{% url 'upload_csv' %}">Upload a new UA csv (requires login)</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
        {% endblock %}

    </div>


</body>
</html>