<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}db_output default title{% endblock %}</title>
</head>

<body>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="sidebar">

        {% block sidebar %}

        <p>
        <b>Would you like to:</b>
        <ul>
            <li><a href="/admin">Access the admin portal</a></li>
            <li><a href="/db_output/">Go to the index of db_output</a></li>
            <li><a href="/db_output/test_output">Check the output</a></li>
            <li><a href="/db_output/csv_upload">Upload a new UA csv</a></li>
        </ul>
        {% endblock %}

    </div>


</body>
</html>