{% extends 'db_output/base_bootstrap.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %} If you'd like us to analyse stats you've taken in
<a href="https://www.ultianalytics.com/index.html">UltiAnalytics</a>, let us know!<br>

We'd also love to hear if you have feature requests, questions, or would like to get involved.<br>


We're available via <a href="https://www.facebook.com/rats.stats/">Facebook</a>
                    and <a href="mailto:rob.andy.take.stats@gmail.com">email</a>.
{% endblock %}