{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

{% block title %} Parse Select {% endblock %}

{% block content %}

    {% if form %} <!-- parse_select sends 'form' -->

        {% if perms.db_output.can_request_parse %} <!-- TODO: a fake permission, superusers only atm  -->

          <h3> Please select a file to put through the parse data flow.</h3>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Validate</button>
          </form>

        {% else %}

            <h3>You do not have permission to parse uploaded csv files</h3>
            <p><a href="{% url 'login' %}">Login here</a></p>

        {% endif %}

    {% endif %}

{% endblock %}