{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}
{% load static %} {% load looping_extras %}

<!-- select2 css -->
{% block extra_head %}
    {{ name_formset.1.media.css }}
{% endblock %}

<!-- jquery scripts -->
{% block extra_scripts %}<script src="{% static 'validation_jquery.js' %}"></script>{% endblock %}

{% block title %} Parse Validate Player {% endblock %}

{% block content %}

<h3> Please validate each player (from uploaded csv) against a Player in the database.</h3>
<p>If the data shown are correct and complete, please leave the checkbox ticked and continue.<br>
If the data are incomplete or incorrect, please make the appropriate changes and continue.<br>
    If there is no appropriate match for the player, please uncheck the box and fill out all new information.<br></p>

{% if warning %}<div class='alert alert-danger'>{{ warning }}</div>{% endif %}

<div id="ajax_return"></div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ name_formset.management_form }}
    {{ detail_formset.management_form }}

    {{ name_formset.0.media.js }}

    <table class='table'>

        <tr><th scope="col">Name in CSV</th><th scope="col">Database Match</th><th scope="col">Custom/Extra Detail</th></tr>

        {% for name in player_list %}
        <tr>
            <td> {{ name }}</td>

            {% index name_formset forloop.counter0 as name_form %}
            <td>{{ name_form.as_p }} </td>

            {% index detail_formset forloop.counter0 as detail_form %}
            <td>{{ detail_form.as_p }} </td> <!-- TODO (lp): align fields -->
        </tr>
        {% endfor %}

    </table>

    <button type="submit">Save</button>

</form>

{% endblock %}