{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}


{% block title %} Parse Validate Player {% endblock %}

{% block content %}

<!-- form up top to select which game you'd like to check parse of -->

<h4> For each player mentioned in your UltiAnalytics csv,
  we have attempted to match them with an existing player in our database<br>
  Please select the appropriate player, or create a new player by inputting a new PROPER NAME<br></h4><p><p>
    <!-- TODO (feat): allow input of primary key like an afda number etc -->
    <!-- might be able to do with with ordering on the model and select2 inputs -->


<form method='post'>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <h5>Provided Name: {{ csv_name }}</h5><br>
    {{ form.selection.errors }}

    <div class="span4">
        {{ form.selection.0 }} <!-- TODO: allow more than one suggested name option -->
    </div>
        <br>
    <div class="span4">
        {{ form.selection.1 }}
        {{ form.custom_name }}
        {{ form.custom_name.errors }}
    </div>
        <br>
    <button type="submit">Save</button>
</form>

<!-- this form needs to take in Division, Year (use the year the championship event is in)
     this could be the time to take in opposing game ID or similar-->


<!-- printed results below -->

{% if results %}
<p>
{{ results }}
{% endif %}

{% endblock %}