{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

{% block title %} Parse Verify {% endblock %}

{% block content %}

    {% if verification_needed %}

        <h3> The following conversion dictionary was generated based on your inputs.</h3><p>
        <h4>Please examine it as correct and verify that this information is correct and true.<p>
            Do not verify test data.</p></h4><br>

        <table><b>Name from CSV, Player ID</b><br>

        {% for player in verification_needed %}
            <tr>{{ player }}<br></tr>
        {% endfor %}
        </table><br>

    {% endif %}

    {% if verify_form %}
        <form method="post">
            {% csrf_token %}
            {{ verify_form.as_p }}
            <button type="submit">Confirm</button>
        </form>
    {% endif %}

        <p>
        <form action="{% url 'parse_select' %}">
            <button type="submit">Cancel</button>
        </form>

{% endblock %}

