{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

{% block title %} Parse Verify {% endblock %}

{% block content %}

    {% if verification_needed %}

        <h3> The following player validation data was generated based on your inputs.</h3><p></p>
        <h4>Please examine it as correct and verify that this information is correct and true.<p></p>
            New players (player_ID = None) will have a player ID created on confirmation.<br><p></p>
        Do not verify test data.<p></p></h4><br>

        <table class="table">
            <tr><th scope="col">Name from CSV</th><th scope="col">Player Information</th></tr>
            {% for row in verification_needed %}
            <tr>
                {% for col in row %}
                    <td>
                        {% if forloop.first %}
                            {{ col }}
                        {% else %}
                            {% for key, value in col.items %}
                                {{ key }} : {{ value }}<br>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    {% endif %}

    {% if verify_form %}
        <form method="post">
            {% csrf_token %}
            {{ verify_form.as_p }}
            <button type="submit">Confirm</button>
        </form>
    {% endif %}
        <p></p>
        <p>
        <input type=button value="Back" onClick="onClick=window.history.back();return false;">
        </p>
{% endblock %}

