{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}
{% load static %} {% load looping_extras %}

<!-- select2 css -->
{% block extra_head %}
    {{ primary_form.media.css }}
{% endblock %}

<!-- jquery scripts -->
{% block extra_scripts %}<script src="{% static 'validation_jquery.js' %}"></script>{% endblock %}


{% block title %} Parse Validate Team {% endblock %}

{% block content %}

<h4>Team Validation</h4>
If possible, please select a match from our database using the provided form. <br>
If no match is available, please uncheck the box and enter the new team details on the right.<br>
<br>
Please do not create a new team each season.<br>
The season provided at upload was: <b>{{ season }}</b><br>
The team name provided during upload was: <b>{{ team_name }}</b><br>

<p></p>

<form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    {{ primary_form.media.js }}

    <!--
    {{ primary_form.errors }}
    {{ secondary_forms.errors }}
    -->

    <table class='table'>
        <tr><th scope="col">Database Selection</th><th scope="col">New Team / Extra Detail</th></tr>

        <td>{{ primary_form.as_p }}</td>
        <td>{{ secondary_form.as_p }}</td>

    </table>

    <button type="submit">Confirm</button>
</form>

<!-- printed results below -->

{% if results %}
<p>
{{ results }}
{% endif %}

{% endblock %}