{% extends 'db_output/base_bootstrap.html' %}
{% load static %} {% load looping_extras %}

{% block extra_head %}
    <!-- select2 css -->
    <!-- this should be {{ form.media.css }} for each form, but this works better for formsets -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" type="text/css" media="screen" rel="stylesheet">
{% endblock %}

<!-- jquery scripts -->
{% block scripts %}
    {{ name_formset.0.media.js }}
    <script src="{% static 'validation_jquery.js' %}"></script>
{% endblock %}

{% block title %} Parse Validate Player {% endblock %}

{% block content %}

<h3> Please validate each player (from uploaded csv) against a Player in the database.</h3>
<p>If the data shown are correct and complete, please leave the checkbox ticked and continue.<br>
If the data are incomplete or incorrect, please make the appropriate changes and continue.<br>
    If there is no appropriate match for the player, please uncheck the box and fill out all new information.<br></p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ name_formset.management_form }}
    {{ detail_formset.management_form }}

    <table class='table'>

        <tr><th scope="col">Name in CSV</th><th scope="col">Select Existing Match</th><th scope="col">Provide Extra Detail</th></tr>

        {% for name in player_list %}
        <tr>
            <td> {{ name }}</td>

            {% index name_formset forloop.counter0 as name_form %}
            <td>{{ name_form.as_p }} </td>

            {% index detail_formset forloop.counter0 as detail_form %}
            <td>{{ detail_form.as_p }} </td> <!-- TODO (lp): align fields -->
        </tr>
        {% endfor %}

    </table>

    <button type="submit">Save</button>

</form>


<!--
<form method='post'>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <h5>Provided Name: {{ csv_name }}</h5><br>
    {{ form.selection.errors }}

    <div class="span4">
        {{ form.selection.0 }}  TODO: allow more than one suggested name option
    </div>
        <br>
    <div class="span4">
        {{ form.selection.1 }}
        {{ form.custom_name }}
        {{ form.custom_name.errors }}
    </div>
        <br>
    <button type="submit">Save</button>
</form>
-->

<!-- printed results below -->
{% if results %}
<p>{{ results }}</p>
{% endif %}

{% endblock %}