{% extends 'db_output/base.html' %}

{% block title %} MVP - Output {% endblock %}

{% block content %}

    {% if form %} <!-- test_output sends 'form' -->

      <h3> Please select a file to put through the parse data flow.</h3>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Validate</button>
      </form>

    {% endif %}


    {% if results %} <!-- branch 3 of confirm_upload_details sends 'results' -->

        <h3> The below conversion dictionary was created based on your validation inputs.<br></h3>
        <h4>Confirm will save your inputs and take you to the results of the parser.<br>
        Cancel will return you to the file select page.</h4>

        {{ results }}

        <p>
        <a class="btn" href="{% url 'display_parse_results' %}">Confirm</a><br>
        <a class="btn" href="{% url 'test_output' %}">Cancel</a>

    {% endif %}


    {% if teamvalidation %} <!-- [x] sends 'teamvalidation' -->

        {{ teamvalidation }}

    {% endif %}


    {% if parsed_results %}

        {{ parsed_results }}

    {% endif %}


{% endblock %}