{% extends 'db_output/base_bootstrap.html' %}

{% block title %} MVP - Output {% endblock %}

{% block content %}

    {% if form %} <!-- test_output sends 'form' -->

        {% if perms.db_output.can_request_parse %} <!-- TODO: a fake permission, superusers only atm  -->

          <h3> Please select a file to put through the parse data flow.</h3>

          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Validate</button>
          </form>

        {% else %}

            <h3>You do not have permission to parse uploaded csv files</h3>
            <p><a href="{% url 'login' %}">Login here</a></p>

        {% endif %}

    {% endif %}

    {% if results %} <!-- branch 3 of confirm_upload_details sends 'results' -->

        <h3> The below conversion dictionary was created based on your validation inputs.<br></h3>
        <h4>Confirm will save your inputs and take you to the results of the parser.<br>
        Cancel will return you to the file select page.</h4>

        {{ results }}

        <form method="post">
            {% csrf_token %}
            {{ verify_confirm }}
            <button type="submit">Confirm</button>
        </form>

        <a class="btn" href="{% url 'test_output' %}">Cancel</a>
        <!-- TODO: check that session data is cleaned via this exit -->

    {% endif %}


    {% if teamvalidation %} <!-- [x] sends 'teamvalidation' -->

        {{ teamvalidation }}

    {% endif %}


    {% if parsed_results %}

        {{ parsed_results }} <!-- display_parsed_results sends 'parsed_results' -->

    {% endif %}


{% endblock %}