{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}
{% load static %} {% load looping_extras %}

{% block extra_head %}
    <style>
        th { font-size: 15px; }
        td { font-size: 13px; }
        table td.game_names { border-right:0px solid grey;
                              padding-right: 10px;}
        table th.player_names { padding-left: 10px; }
    </style>
    {% if data_selection_form %}  {{ data_selection_form.media.css }} {% endif %}
{% endblock %}

{# we don't need these scripts if we're not displaying dataframes #}
{% block extra_scripts %}
    {% if team_name %}
        {# datatables; for display of tables, sortability, etc #}
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

        {# js-cookie; for fetching csrf out of cookies #}
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {# where our custom jquery lives #}
        <script src="{% static 'dataframe_display_jquery.js' %}"></script>
    {% endif %}
{% endblock %}

{% block title %}Team Stats Overview {% endblock %}

{% block content %}

    {% comment %}<!--
    This content block will be broken into three main sections

    intro_block
        - Team name, list of games being analysed, list of players that played in them

    stats_table
        - takes in constructed pandas dataframe, puts through list.js
        - sortable table
        - on team stats overview page, will be indexed by games
        - will have consistent stats columns

    graph_block
        - sweet graphs made by d3
        - takes in dataframe

    -->{% endcomment %}

    {% if data_selection_form %}

        <h3> Team-Wide Stats: Dataset Selection </h3>
        Please select a Team and at least one Game.<br>

        Hit Analyse to see how that team performed over those games.<p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ data_selection_form.media.js }}
            {{ data_selection_form.errors }}
            <p>{{ data_selection_form.team.label_tag }} {{ data_selection_form.team }}</p>
            <p>{{ data_selection_form.games.label_tag }} {{ data_selection_form.games }}</p>

            <button type="submit">View</button>
        </form>

    {% endif %}

    {% if team_name %}
    <form method="post" style="display: none;">{% csrf_token %}</form>


    <h3> Team-Wide Stats: Overview</h3>

    <div class="intro_block">
        <b>Team:</b> {{ team_name }}<br>
        <table>
        <tr>
            <th>
                <b>Games: </b>
            </th>
            <th class="player_names">
                <b>Active Players:</b>
            </th>
        </tr>
        <tr> {# single row table for column-like display #}
            <td class="game_names">
                <ul>{% for game in game_names %}
                    <li>{{ game }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for player in player_list %}

                        {% modulo forloop.counter 5 as result %}
                        {% if result == 0 %}
                </ul>
            </td>
            <td>
                <ul>
                        {% endif %}

                    <li> {{ player }} </li>
                    {% endfor %}
                </ul>
            </td>
        </tr></table>
    </div>

    <hr>

    <div id="table_block_wrapper">

        <div class="team_table_div">
            <table id="team_table" class="display compact" style="width: 100%" data-target="Team">
                <thead>
                <tr>
                    {% for column in team_columns %}
                    <th data-colname="{{ column }}">{{ column|title }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>

        </div>
        <hr>

        <div class="game_table_div">
            {% for gameid in game_ids %}
            {% index game_names forloop.counter0 as game_name %}
            <b>{{ game_name }}:</b>
            <table class="game_table display compact" style="width: 100%" data-gameid="{{ gameid }}" data-target="Game">
                <thead>
                <tr>
                    {% for column in game_columns %}
                    <th data-colname="{{ column }}">{{ column|title }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>
            <p></p>
            {% endfor %}
        </div>
    </div>

    <hr>

    <div class="graph_block">
    <!--{{ graph_block }}-->
    </div>

    {% endif %}



{% endblock %}