{% extends 'db_output/base_bootstrap.html' %}
{% if extra_head %} {{ extra_head }} {% endif %}

{% if data_selection_form %} {% block extra_head %} {{ data_selection_form.media.css }} {% endblock %} {% endif %}


{% block title %}Team Stats Overview {% endblock %}

{% block content %}

    {% comment %}<!--
    This content block will be broken into three main sections

    intro_block
        - Team name, list of games being analysed, list of players that played in them

    stats_table
        - takes in constructed pandas dataframe, puts through list.js
        - sortable table
        - on team stats overview page, will be indexed by games
        - will have consistent stats columns

    graph_block
        - sweet graphs made by d3
        - takes in dataframe

    -->{% endcomment %}

    {% if data_selection_form %}

        <h3> Team-Wide Stats: Dataset Selection </h3>
        Please select a Team and at least one Game.<br>

        Hit Analyse to see how that team performed over those games.<p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ data_selection_form.media.js }}
            <p>{{ data_selection_form.team.label_tag }} {{ data_selection_form.team }}</p>
            <p>{{ data_selection_form.games.label_tag }} {{ data_selection_form.games }}</p>

            <button type="submit">Analyse</button>
        </form>

    {% else %}

    <h3> Team-Wide Stats: Overview</h3>

    <div class="intro_block"><p>
        Team Name, Game List, Player List will be here
    <!--{{ intro_block }}--></p></div>
<hr>
    <div class="table_block"><p>
    {% autoescape off %}    {{ table }}    {% endautoescape %}</p></div>
<hr>
    <div class="graph_block"><p>
        Sweet graphs
    <!--{{ graph_block }}--></p></div>

    {% endif %}



{% endblock %}